{% extends 'base.html' %}
{% load pybo_filter %}
{% block content %}
<div class="container my-3">    <!-- class 는 부트스트랩에 정의되어 있는 클래스--> <!-- division 문서 분할 엔터키?  -->
    <table class="table">
        <thead> <!-- table head -->
        <tr class="text-center table-dark">
            <th>번호</th>
            <th style="width:50%">제목</th>   <!-- 제목 너비가 전체의 50% -->
            <th>글쓴이</th>
            <th>작성일시</th>
        </tr>
        </thead>
        <tbody>
        {% if question_list %}
        {% for question in question_list %}
        <tr class="text-center">    <!-- 가운데 정렬 -->
            <td>
                <!-- 번호 = 전체건수 - 시작인덱스 - 현재인덱스 + 1 -->
                {{ question_list.paginator.count|sub:question_list.start_index|sub:forloop.counter0|add:1 }}
            </td>
            <td class="text-start">     <!-- 왼쪽 정렬 -->
                <a href="{% url 'pybo:detail' question.id %}">{{ question.subject }}</a>
                {% if question.answer_set.count > 0 %}
                <span class="text-danger small mx-2">{{ question.answer_set.count }}</span>
                {% endif %}
            </td>
            <td>{{ question.author.username }}</td>     <!-- 글쓴이 추가 -->
            <td>{{ question.create_date }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="4">질문이 없습니다.</td>      <!-- colspan 테이블 항목 4개 -->
        </tr>
        {% endif %}
        </tbody>
    </table>
    <!-- 페이징 처리 시작 -->
    <ul class="pagination justify-content-center"> <!-- unordered list 순서가 없는 리스트-->

        <!-- 이전 페이지 -->
        {% if question_list.has_previous %} <!-- 이전 페이지가 있는지 체크 // 있으면 활성화 없으면 비활성화-->
            <li class="page-item">  <!-- list item -->
                <a class="page-link" href="?page={{ question_list.previous_page_number }}">이전</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
            </li>
        {% endif %}

        <!-- 페이지 리스트 -->
        {% for page_number in question_list.paginator.page_range %} <!-- 페이지 리스트 루프 ( 해당 페이지로 이동할 수 있는 링크 생성 )-->
            {% if page_number >= question_list.number|add:-5 and page_number <= question_list.number|add:5 %} <!-- add:-5는 5만큼 빼라는 의미 즉 page_number가 1이고-->
                {% if page_number == question_list.number %}    <!-- 강조 표시 -->
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                    </li>
                {% endif %}
            {% endif %}
        {% endfor %}

        <!-- 다음 페이지 -->
        {% if question_list.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ question_list.next_page_number }}">다음</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
            </li>
        {% endif %}
    </ul>
    <!-- 페이징처리 끝 -->
    <a href="{% url 'pybo:question_create' %}" class="btn btn-primary">질문 등록하기</a>
</div>
{% endblock %}